#node-border {
    background-color: rgb(108, 108, 108);
    min-width: 62px;
}

#input {
    align-items: center;
}

#output {
    align-items: center;
}

.cpu-fallback #node-border {
    background-color: rgb(214, 78, 78);
}

#title {
    -unity-text-align: upper-center;
}
